#competences {
    padding: 30px 50px;
    scroll-margin-top: 80px;
}
#competences h3 {
    color: var(--blue-focus);
}
.skillbox {
    margin: 10% 5%;
    border-radius: 15px;
    color: #FFF;
    text-align: center;
    padding: 10px;
}
.tech {
    background-color: var(--brown-focus);
}
.softie {
    background-color: var(--blue-focus);
}
.iconList {
    list-style-type: none;
    margin: 15px 0 0 0;
    display: grid;
    grid-template-columns: repeat(2, 100px);
    gap: 10px;

  justify-content: center;
}
.iconId {
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 6px;
    text-align: center;
}    
.iconId img {
    width: 40px;
    object-fit: contain;
    display: block;
}
.iconId button {
    width: 50px;
    background-color: var(--w-text);
}
.skillModal img {
    display: block;
    margin: 0 auto;
}
.skillModal p {
    padding: 10px 0;
}