#competences {
    padding: 30px 50px;
    scroll-margin-top: 80px;
}
#competences h3 {
    color: var(--blue-focus);
}
.skillbox {
    margin: 5%;
    border-radius: 15px;
    color: #FFF;
}
.skillbox {
    text-align: center;
}
.tech {
    background-color: #935E23;
}
.softie {
    background-color: #1D435C;
}
.iconList {
    list-style-type: none;
    align-items: center;
    text-wrap: wrap;
}
.iconList img {
    width: 30px;
}
.skill-list {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2fr;
}

