#contact {
    scroll-margin-top: 80px;
    padding: 30px;
}
#contact h3 {
    color: var(--w-text);
}
.contactform {
    background-color: var(--blue-focus);
    color: #FFF;
}
form {
    display: flex;
    flex-direction: column;
    margin: 10%;
    gap: 10px;
}
.contactitle {
    color: #FFF;
}
.textbox {
    display:flex;
    flex-direction: column;
    font-family: 'Nunito';
    text-align: left;
    gap: 5px;
}
input, textarea {
    border-radius: 5px;
    background-color: #FFF;
    font-weight: 400;
    height: 25px;
    vertical-align: top;
    padding: 2.5%;
}
input::placeholder, textarea::placeholder {
  color: (--blue-focus);
}
.messagebox {
    height: 250px;
    font-family: var(--nunito);
}
.submit {
    font-weight: 700;
    font-size: 1rem;
    border-radius: 10px;
    padding: 12.5px;
    width: 60%;
    margin: 10% auto;
}
.enabled {
    background-color: var(--brown-focus);
    color: #FFF;    
}
.disabled {
    background-color: var(--bg);
    color: var(--brown-focus);
    cursor: not-allowed;
    pointer-events: none;
}
@media all and (min-width: 769px) {
  form {
    margin: 5% 25%;
  }
  .submit {
    width: 30%;}
}