
div {
    text-align: justify;
}
#history {
    padding: 30px 50px;
}
#history h3 {
    color: var(--blue-focus);
}
#history h4 {
    text-decoration: underline;
    color: #935E23;
}
#history p {
    padding: 0 0 25px 25px;    
}
