#hero {
    position: relative;
    scroll-margin-top: 0px;
}
.heroPhoto {
    width: 100%;
    display: block;
}
.heroContent {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 15px;
    z-index: 10;    
}
.tophead {
    color: var(--w-text);
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    gap:0.1rem;
}
.tophead h1 {
    font-size: 1.6rem;
    line-height: 1.05;
}
.tophead h2 {
    font-size: 1.1rem;
    line-height: 1.2;
}
.buttonGhost {
    background: transparent;
    border: none;
}
.headerMenu{
    display:flex;
    flex-direction:column;
    position:fixed;
    top:55px;
    right:0;
    width:40%;
    background-color:var(--bg);
    z-index:9999;
    align-items: flex-start;
    padding-right: 5px;         /* separa del borde derecho */
    color: var(--blue-focus);
    gap: 4px;
}
.headerMenu ul {
    list-style: none;
    padding: 5px;
    margin: 0;
}
.headerMenu button {
    background: transparent;
    border: none;
    color: var(--blue-focus);
}
.headerMenu button:hover {
    background-color: var(--blue-focus);
    color: var(--w-text);
}
.headerMenu a {
    color: inherit;
    text-decoration: none;
}
.headerMenu a:visited {
    color: inherit;
}