.closure {
    padding: 12.5%;
    font-size: 13.5px;
    text-align: center;
}
.links {
    display:flex;
    flex-direction: row;
    justify-content: center;
    gap: 10%;
    padding-top: 10px;
}
.links img {
    width: 25px;
}
.footerMenu {
    display: grid;
    grid-auto-flow: column;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 5px;
    
}