.closure {
    padding: 1% 12.5%;
    font-size: 13.5px;
    text-align: center;
}
.links {
    display:flex;
    flex-direction: row;
    justify-content: center;
    gap: 10%;
    padding: 10px;
}
.links img {
    width: 25px;
}
.footerMenu button, .links button {
    border: none;
    background-color: var(--bg);
    color: var(--blue-focus);
}
.footerMenu ul {
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 5px;    
}
.footerMenu button a {
    text-decoration: none;
    color: inherit;
}