body {
  font-family: 'Nunito', sans-serif;
  background-color: #FDFDFD;
  color: #000;
}
/*section {
  padding: 50px;
}*/
h1 {
  font-size: 20px;
  font-weight: 900;
  margin: 0;
  color: #FFF;
}

h2 {
  font-size: 12px;
  font-weight: 900;
  margin: 0;
  color: #FFF;
}

h3 {
  font-size: 20px;
  font-weight: 700;
  color: #1D435C;
}