:root {
  --text: #000;
  --w-text: #FFF;
  --bg: #FDFDFD;
  --blue-focus: #003b6f;
  --brown-focus: #935E23;
  --blue-shadow: rgba(0, 59, 111, 0.25);
  --nunito: 'Nunito', sans-serif;
}

body {
  margin: 0;
  font: 14px/1.4 var(--nunito);
  letter-spacing: 0.18px;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, p {
  margin: 0;
}

h1,
h2 {
  font-weight: 800;
  text-align: left;  
}

h3, h4 {
  font-weight: 700;
}

h3 {
  text-align: center;
  font-size: 1.25rem; /* ≈ 17.5px */
  line-height: 1.3;
  margin: 24px 0;
}

h4 {
  font-size: 1.1rem;
  line-height: 1.25;
}
